

@media (max-width: 991px){
  .header{
    margin: 0 20px;
  }
  .promo__wrapper{
    margin-right: 20px;
  }
  .consultation{
    padding: 100px 20px 92px 20px;
  }
  .carousel__inner{
    width: 760px;
  }
}

@media (max-width: 767px){
  .advantages__item{
    max-width: 200px;
  }
  .header__phone{
    font-size: 14px;
    margin: 0 auto;
  }
  .header__official span{
    font-size: 15px;
  }
  .carousel__inner{
    width: 570px;
    img{
      width: 100%;
    }
  }
}

@media (max-width: 575px){
  .header{
    flex-direction: column;
  }
  .header__logo , .header__official, .header__contacts{
    margin-top: 10px;
  }
  .promo__header{
    font-size: 30px;
    padding: 0 20px;
  }
  .promo__subheader{
    font-size: 20px;
    padding: 0 20px;
  }
  .promo__icons{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .button_main{
    width: 250px;
    margin: 0 auto;
    margin-top: 63px;
  }
  .advantages__wrapper{
    flex-direction: column;
    align-items: center;
  }
  .feed-form{
    width: 250px;
  }
  .title_left{
    font-size: 30px;
  }
  .carousel__inner{
    width: 300px;
    img{
      width: 100%;
    }
  }
}
